<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
		{% endblock %}
	</head>
	<body>
		{% include "shared/_navbar.html.twig" %}
		<div class="container pt-5">
			{% for severity, messages in app.flashes %}
				<div class="alert alert-{{ severity }} alert-dismissible">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<ul>
						{% for message in messages %}
							<li>
								<strong>{{ message }}</strong>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endfor %}
			{% block body %}{% endblock %}
		</div>
		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		{% endblock %}
	</body>
</html>
