{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<h1>
		Nos produits phares
	</h1>
	<div class="row">
		{% for product in products %}
			<div class="col-lg-4 d-flex align-items-stretch my-3">
				{% include "product/_product_card.html.twig" %}
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irreprochable</h2>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem libero harum modi illum molestias doloribus architecto, asperiores doloremque quibusdam molestiae?</p>
	<div class="row">
		{% include "shared/_assurance.html.twig" with {
            color:"primary",
            icon:"fas fa-truck",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit similique praesentium obcaecati nemo facilis fugiat."
        } %}
		{% include "shared/_assurance.html.twig" with {
            color:"success",
            icon:"fas fa-check",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit similique praesentium obcaecati nemo facilis fugiat."
        } %}
		{% include "shared/_assurance.html.twig" with {
            color:"danger",
            icon:"fas fa-times",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit similique praesentium obcaecati nemo facilis fugiat."
        } %}
	</div>
{% endblock %}
